@import "tailwindcss";

/* Animations */
@keyframes move_right_left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.move-animation {
  animation: move_right_left 2s ease-in-out infinite;
}
/* If movement on cursor */
.move-on-hover:hover {
  animation: move_right_left 2s ease-in-out infinite;
}
